# District and Campus Performance Research

In [276]:
import os
import pandas as pd
import numpy as np

# District Performance

In [277]:
SchoolFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','schools_complete.csv')
StudentFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','students_complete.csv')
school_df = pd.read_csv(SchoolFile)
student_df = pd.read_csv(StudentFile)
school_df.rename(columns={'name': 'campus', 'School ID' : 'school_id'}, inplace=True)
student_df.rename(columns={'school': 'campus', 'Student ID' : 'student_id', 'name' : 'student_name'}, inplace=True)
ed_df = pd.merge(school_df, student_df, on='campus')
grouped_campus = ed_df.groupby('campus')
campus_count = len(grouped_campus)
total_students = ed_df[('student_id')].count()
total_budget = school_df[('budget')].sum()
average_math_score = round(ed_df[('math_score')].mean())
average_reading_score = round(ed_df[('reading_score')].mean())
count_passing_math_df = pd.DataFrame(ed_df.loc[(ed_df['math_score'] > 70)])
percent_passing_math_prep = round(count_passing_math_df['math_score'].count()/ed_df['student_id'].count(),2)
percent_passing_math = (percent_passing_math_prep)
count_passing_reading_df = pd.DataFrame(ed_df.loc[(ed_df['reading_score'] > 70)])
percent_passing_reading_prep = round(count_passing_reading_df['reading_score'].count()/ed_df['student_id'].count(),2)
percent_passing_reading = (percent_passing_reading_prep)
overall_passing_rate_prep = (percent_passing_math + percent_passing_reading)
overall_passing_rate = overall_passing_rate_prep / 2
district_summary_df = pd.DataFrame({"Total Students":[total_students],
                          "Total Schools":[campus_count],
                          "Total Budget":[total_budget],
                          "Average Math Score":[average_math_score],
                          "Average Reading Score":[average_reading_score],
                          "Percent Passing Math":[percent_passing_math],
                          "Percent Passing Reading":[percent_passing_reading], 
                          "Overall Passing Rate":[overall_passing_rate]})

district_summary_df = district_summary_df [["Total Schools", "Total Students", "Total Budget",
                                         "Average Math Score", "Average Reading Score", 
                                         "Percent Passing Math", "Percent Passing Reading", 
                                         "Overall Passing Rate"]]

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("$ {:,.2f}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Percent Passing Math"] = district_summary_df["Percent Passing Math"].map("{:.2%}".format)
district_summary_df["Percent Passing Reading"] = district_summary_df["Percent Passing Reading"].map("{:.2%}".format)
district_summary_df["Overall Passing Rate"] = district_summary_df["Overall Passing Rate"].map("{:.2%}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
0,15,"39,170","$ 24,649,428.00",79,82,72.00%,83.00%,77.50%

# Summary by Campus

In [278]:
school_types = school_df.set_index(["campus"])["type"]
student_count = ed_df["campus"].value_counts()
campus_budget = ed_df.groupby(["campus"]).mean()["budget"]
budget_per_student = school_budget / student_count
grouped_campus = ed_df.groupby('campus')
campus_math_average = grouped_campus[('math_score')].mean()
campus_reading_average = grouped_campus[('reading_score')].mean()
percent_passing_math_prep = ed_df[(ed_df["math_score"] > 70)]
percent_passing_math = percent_passing_math_prep.groupby(["campus"]).count()["student_name"] / student_count 
percent_passing_reading_prep = ed_df[(ed_df["reading_score"] > 70)]
percent_passing_reading = percent_passing_reading_prep.groupby(["campus"]).count()["student_name"] / student_count 
overall_passing_rate_prep = (percent_passing_math + percent_passing_reading)
overall_passing_rate = overall_passing_rate_prep / 2

campus_summary = pd.DataFrame({"School Type": school_types,
                               "Total Students": student_count,
                               "Total School Budget": campus_budget,
                               "Budget Per Student": budget_per_student,
                               "Per Student Budget": per_school_capita,
                               "Average Math Score": campus_math_average,
                               "Average Reading Score": campus_reading_average,
                               "Percent Passing Math": percent_passing_math,
                               "Percent Passing Reading": percent_passing_reading,
                               "Overall Passing Rate": overall_passing_rate})


campus_summary = campus_summary[["School Type", "Total Students", "Total School Budget", "Budget Per Student",
                                         "Average Math Score", "Average Reading Score", "Percent Passing Math",
                                 "Percent Passing Reading", "Overall Passing Rate"]]
                              
    
campus_summary["Total School Budget"] = campus_summary["Total Students"].map("${:,.2f}".format)
campus_summary["Budget Per Student"] = campus_summary["Budget Per Student"].map("${:,.2f}".format)
campus_summary["Percent Passing Math"] = campus_summary["Percent Passing Math"].map("{:.2%}".format)
campus_summary["Percent Passing Reading"] = campus_summary["Percent Passing Reading"].map("{:.2%}".format)
campus_summary["Overall Passing Rate"] = campus_summary["Overall Passing Rate"].map("{:.2%}".format)
campus_summary["Total Students"] = campus_summary["Total Students"].map("{:,}".format)


campus_summary

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$4,976.00",$628.00,77.048432,81.033963,64.63%,79.30%,71.97%
Cabrera High School,Charter,"1,858","$1,858.00",$582.00,83.061895,83.975780,89.56%,93.86%,91.71%
Figueroa High School,District,"2,949","$2,949.00",$639.00,76.711767,81.158020,63.75%,78.43%,71.09%
Ford High School,District,"2,739","$2,739.00",$644.00,77.102592,80.746258,65.75%,77.51%,71.63%
Griffin High School,Charter,"1,468","$1,468.00",$625.00,83.351499,83.816757,89.71%,93.39%,91.55%
Hernandez High School,District,"4,635","$4,635.00",$652.00,77.289752,80.934412,64.75%,78.19%,71.47%
Holden High School,Charter,427,$427.00,$581.00,83.803279,83.814988,90.63%,92.74%,91.69%
Huang High School,District,"2,917","$2,917.00",$655.00,76.629414,81.182722,63.32%,78.81%,71.07%
Johnson High School,District,"4,761","$4,761.00",$650.00,77.072464,80.966394,63.85%,78.28%,71.07%
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,91.68%,92.20%,91.94%
Rodriguez High School,District,"3,999","$3,999.00",$637.00,76.842711,80.744686,64.07%,77.74%,70.91%
Shelton High School,Charter,"1,761","$1,761.00",$600.00,83.359455,83.725724,89.89%,92.62%,91.25%
Thomas High School,Charter,"1,635","$1,635.00",$638.00,83.418349,83.848930,90.21%,92.91%,91.56%
Wilson High School,Charter,"2,283","$2,283.00",$578.00,83.274201,83.989488,90.93%,93.25%,92.09%
Wright High School,Charter,"1,800","$1,800.00",$583.00,83.682222,83.955000,90.28%,93.44%,91.86%

# Rock Star Campuses

In [279]:
rock_star_campuses = campus_summary.sort_values(["Overall Passing Rate"], ascending=False)
rock_star_campuses.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Wilson High School,Charter,"2,283","$2,283.00",$578.00,83.274201,83.989488,90.93%,93.25%,92.09%
Pena High School,Charter,962,$962.00,$609.00,83.839917,84.044699,91.68%,92.20%,91.94%
Wright High School,Charter,"1,800","$1,800.00",$583.00,83.682222,83.955000,90.28%,93.44%,91.86%
Cabrera High School,Charter,"1,858","$1,858.00",$582.00,83.061895,83.975780,89.56%,93.86%,91.71%
Holden High School,Charter,427,$427.00,$581.00,83.803279,83.814988,90.63%,92.74%,91.69%

# Support Campuses

In [280]:
support_campuses = campus_summary.sort_values(["Overall Passing Rate"], ascending=True)
support_campuses.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Rodriguez High School,District,"3,999","$3,999.00",$637.00,76.842711,80.744686,64.07%,77.74%,70.91%
Huang High School,District,"2,917","$2,917.00",$655.00,76.629414,81.182722,63.32%,78.81%,71.07%
Johnson High School,District,"4,761","$4,761.00",$650.00,77.072464,80.966394,63.85%,78.28%,71.07%
Figueroa High School,District,"2,949","$2,949.00",$639.00,76.711767,81.158020,63.75%,78.43%,71.09%
Hernandez High School,District,"4,635","$4,635.00",$652.00,77.289752,80.934412,64.75%,78.19%,71.47%

# Math Score by Grade

In [281]:
ninth_grade = ed_df[(ed_df["grade"] == "9th")]
tenth_grade = ed_df[(ed_df["grade"] == "10th")]
eleventh_grade = ed_df[(ed_df["grade"] == "11th")]
twelfth_grade = ed_df[(ed_df["grade"] == "12th")]

freshman_scores = ninth_grade.groupby(["campus"]).mean()["math_score"]
sophmore_scores = tenth_grade.groupby(["campus"]).mean()["math_score"]
junior_scores = eleventh_grade.groupby(["campus"]).mean()["math_score"]
senior_scores = twelfth_grade.groupby(["campus"]).mean()["math_score"]

grade_level_scores = pd.DataFrame({"Freshman": freshman_scores, "Sophmore": sophmore_scores,
                             "Junior": junior_scores, "Senior": senior_scores})

grade_level_scores = grade_level_scores[["Freshman", "Sophmore", "Junior", "Senior"]]

grade_level_scores

                        Freshman   Sophmore     Junior     Senior
campus
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

# Reading Scores by Grade

In [282]:
ninth_grade = ed_df[(ed_df["grade"] == "9th")]
tenth_grade = ed_df[(ed_df["grade"] =="10th")]
eleventh_grade = ed_df[(ed_df["grade"] == "11th")]
twelfth_grade = ed_df[(ed_df["grade"] == "12th")]

freshman_scores = ninth_grade.groupby(["campus"]).mean()["reading_score"]
sophmore_scores = tenth_grade.groupby(["campus"]).mean()["reading_score"]
junior_scores = eleventh_grade.groupby(["campus"]).mean()["reading_score"]
senior_scores = twelfth_grade.groupby(["campus"]).mean()["reading_score"]

grade_level_scores = pd.DataFrame({"Freshman": freshman_scores, "Sophmore": sophmore_scores,
                             "Junior": junior_scores, "Senior": senior_scores})

grade_level_scores = grade_level_scores[["Freshman", "Sophmore", "Junior", "Senior"]]

grade_level_scores

                        Freshman   Sophmore     Junior     Senior
campus
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [283]:
spending_bins = [0, 584, 630, 640, 660]
group_names = ["Low", "Moderate", "Adequate", "High"]

campus_summary["Spending Per Student"] = pd.cut(budget_per_student, spending_bins, labels=group_names)
math_score_cost = campus_summary.groupby(["Spending Per Student"]).mean()["Average Math Score"]
reading_score_cost = campus_summary.groupby(["Spending Per Student"]).mean()["Average Reading Score"]
math_percentage_cost = campus_summary.groupby(["Spending Per Student"]).mean()["Average Math Score"]
reading_percentage_cost = campus_summary.groupby(["Spending Per Student"]).mean()["Average Reading Score"]
overall_passing_cost = campus_summary.groupby(["Spending Per Student"]).mean()["Average Reading Score"]

budget_summary = pd.DataFrame({"Average Math Score" : math_score_cost,
                                 "Average Reading Score": reading_score_cost,
                                 "Percent Passing Math": math_percentage_cost,
                                 "Percent Passing Reading": reading_percentage_cost,
                                 "Overall Passing Rate": overall_passing_cost})

budget_summary = spending_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "Percent Passing Math", "Percent Passing Reading",
                                     "Overall Passing Rate"]]
budget_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Spending Per Student,,,,,
Low,83.455399,83.933814,83.933814,83.933814,83.933814
Moderate,81.899826,83.155286,83.155286,83.155286,83.155286
Adequate,78.990942,81.917212,81.917212,81.917212,81.917212
High,77.023555,80.957446,80.957446,80.957446,80.957446

In [286]:
spending_bins = [0, 2000, 3000, 5000]
group_names = ["Small", "Medium", "Large"]

campus_summary["Student Population"] = pd.cut(student_count, spending_bins, labels=group_names)
math_score_cost = campus_summary.groupby(["Student Population"]).mean()["Average Math Score"]
reading_score_cost = campus_summary.groupby(["Student Population"]).mean()["Average Reading Score"]
math_percentage_cost = campus_summary.groupby(["Student Population"]).mean()["Average Math Score"]
reading_percentage_cost = campus_summary.groupby(["Student Population"]).mean()["Average Reading Score"]
overall_passing_cost = campus_summary.groupby(["Student Population"]).mean()["Average Reading Score"]

population_summary = pd.DataFrame({"Average Math Score" : math_score_cost,
                                 "Average Reading Score": reading_score_cost,
                                 "Percent Passing Math": math_percentage_cost,
                                 "Percent Passing Reading": reading_percentage_cost,
                                 "Overall Passing Rate": overall_passing_cost})

population_summary = population_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "Percent Passing Math", "Percent Passing Reading",
                                     "Overall Passing Rate"]]
population_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
Student Population,,,,,
Small,83.502373,83.883125,83.502373,83.883125,83.883125
Medium,78.429493,81.769122,78.429493,81.769122,81.769122
Large,77.063340,80.919864,77.063340,80.919864,80.919864

In [287]:
math_score_cost = campus_summary.groupby(["School Type"]).mean()["Average Math Score"]
reading_score_cost = campus_summary.groupby(["School Type"]).mean()["Average Reading Score"]
math_percentage_cost = campus_summary.groupby(["School Type"]).mean()["Average Math Score"]
reading_percentage_cost = campus_summary.groupby(["School Type"]).mean()["Average Math Score"]
overall_passing_cost = campus_summary.groupby(["School Type"]).mean()["Average Reading Score"]

type_summary = pd.DataFrame({"Average Math Score" : math_score_cost,
                                 "Average Reading Score": reading_score_cost,
                                 "Percent Passing Math": math_percentage_cost,
                                 "Percent Passing Reading": reading_percentage_cost,
                                 "Overall Passing Rate": overall_passing_cost})

type_summary = type_summary[["Average Math Score", 
                                     "Average Reading Score", 
                                     "Percent Passing Math", "Percent Passing Reading",
                                     "Overall Passing Rate"]]
type_summary

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,83.473852,83.473852,83.896421
District,76.956733,80.966636,76.956733,76.956733,80.966636